[global_config]
  borderless = True
  tab_position = left
  title_transmit_bg_color = "#5c5c5c"
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = Tomorrow Night Eighties
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[darkdefault]]
    [[[child0]]]
      fullscreen = False
      last_active_term = f479ccb4-730a-4fb5-9d94-00280e8081da
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 623:705
      size = 655, 427
      title = yolandyan
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = default
      type = Terminal
      uuid = f479ccb4-730a-4fb5-9d94-00280e8081da
[plugins]
[profiles]
  [[default]]
    background_color = "#fdf6e3"
    background_image = None
    cursor_blink = False
    font = Hack 11
    foreground_color = "#657b83"
    icon_bell = False
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    use_system_font = False
  [[Tomorrow Night Eighties]]
    background_color = "#2d2d2d"
    background_image = None
    cursor_color = "#cccccc"
    font = Hack 11
    foreground_color = "#cccccc"
    palette = "#000000:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#ffffff:#a3a3a3:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#ffffff"
    use_system_font = False
  [[darkdafult]]
    background_image = None
    cursor_blink = False
    font = Hack 11
    icon_bell = False
    use_system_font = False
